*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    height: 8%;
    width: 100%;
    background-color: #131921;
    justify-content: space-around;
}
#logo{
    float: left;
    height: 70%;
}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#location{
    height: 50%;
}
#search_bar{
    display: flex;
    border-radius : 10px;
    height: 70%;
    width: 50%;
    background-color: aliceblue;
}
#drop{
    border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    opacity: 30%;
    height: 100%;
    width: 10%;
    background-color: rgb(181, 181, 181);
}
#elements{
    font-size: large;
     display: flex;
    align-items: center;
    justify-content: center;
}
#search{
    width:88%;
    height: 100%;
}
#button{
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 8%;
    background-color: #F57C00;
}
#country{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100px;
    
    color: white;
}
#country img{
    height: 80%;
    width: 70%;
}

#sign_up{
   
    height: 70%;
    width: 120px;
  
    color: white;
    align-items: center;
}
#text{
    display: flex;
    align-items: center;
    
}
#return{
    height: 70%;
    width: 100px;
   
    color: white;
}
#cart{
    display: flex;
    align-items: center;
    height: 70%;
    width: 80px;
    color: white;
}
.nav{
    display: flex;
    height: 5%;
    width: 100%;
    background-color: rgb(54, 56, 87);
    padding: 2px;
}
#text1 :hover{
   
    border: 1px solid white;
}

#menu{
    height: 100%;
    width: 4%;
    display: flex;
    align-items: center;
    color: white;
}
#menu :hover{
    border: 1px solid white;
}
#rufus{
    margin : 0px 20px;
    height: 100%;
    width: 5%;
    background-color: white;
    border-radius:  20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: darkblue;
}
#text1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
    color: white;
}
#nav_text{
    margin: 10px;
}
